ClientSide/Connected Services/UserServiceReference/FoodService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FoodService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FoodService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="First_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_id" type="xs:int" />
      <xs:element minOccurs="0" name="dairyfree" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="favJokes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="favTrivia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="favorites" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="glutenfree" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vegan" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="vegetarian" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>