ClientSide/Connected Services/RecipeServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FoodService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipeService1_getRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecipes" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_getRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_addRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:addRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_addRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_findRecipesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:findRecipesByName" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_findRecipesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:findRecipesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_findRecipesById_InputMessage">
    <wsdl:part name="parameters" element="tns:findRecipesById" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_findRecipesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findRecipesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_getAllRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecipes" />
  </wsdl:message>
  <wsdl:message name="IRecipeService1_getAllRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecipesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipeService1">
    <wsdl:operation name="getRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService1/getRecipes" message="tns:IRecipeService1_getRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService1/getRecipesResponse" message="tns:IRecipeService1_getRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService1/addRecipe" message="tns:IRecipeService1_addRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService1/addRecipeResponse" message="tns:IRecipeService1_addRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findRecipesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService1/findRecipesByName" message="tns:IRecipeService1_findRecipesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService1/findRecipesByNameResponse" message="tns:IRecipeService1_findRecipesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findRecipesById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService1/findRecipesById" message="tns:IRecipeService1_findRecipesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService1/findRecipesByIdResponse" message="tns:IRecipeService1_findRecipesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService1/getAllRecipes" message="tns:IRecipeService1_getAllRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService1/getAllRecipesResponse" message="tns:IRecipeService1_getAllRecipes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecipeService1" type="tns:IRecipeService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRecipes">
      <soap:operation soapAction="http://tempuri.org/IRecipeService1/getRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService1/addRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRecipesByName">
      <soap:operation soapAction="http://tempuri.org/IRecipeService1/findRecipesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRecipesById">
      <soap:operation soapAction="http://tempuri.org/IRecipeService1/findRecipesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecipes">
      <soap:operation soapAction="http://tempuri.org/IRecipeService1/getAllRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService1">
    <wsdl:port name="BasicHttpBinding_IRecipeService1" binding="tns:BasicHttpBinding_IRecipeService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FoodService/RecipeService1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>