API_Reciever/Connected Services/ServiceReference1/FoodService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FoodService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FoodService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:ArrayOfIngredients" />
      <xs:element minOccurs="0" name="Instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe_id" type="xs:int" />
      <xs:element minOccurs="0" name="Recipe_minutes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Recipe_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe_veg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Recipe_vegan" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="cheap" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="dairyfree" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="glutenfree" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageTyp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sustainable" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
  <xs:complexType name="ArrayOfIngredients">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredients" nillable="true" type="tns:Ingredients" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredients" nillable="true" type="tns:ArrayOfIngredients" />
  <xs:complexType name="Ingredients">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Ingredient_id" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredient_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="tns:Recipe" />
      <xs:element minOccurs="0" name="Recipe_id" type="xs:int" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredients" nillable="true" type="tns:Ingredients" />
</xs:schema>