API_Reciever/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FoodService" />
  <xs:element name="getRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="getRecipeResult" nillable="true" type="q1:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipe_id" type="xs:int" />
        <xs:element minOccurs="0" name="recipe_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe_minutes" type="xs:int" />
        <xs:element minOccurs="0" name="recipe_veg" type="xs:boolean" />
        <xs:element minOccurs="0" name="recipe_vegan" type="xs:boolean" />
        <xs:element minOccurs="0" name="cheap" type="xs:boolean" />
        <xs:element minOccurs="0" name="sustainable" type="xs:boolean" />
        <xs:element minOccurs="0" name="glutenfree" type="xs:boolean" />
        <xs:element minOccurs="0" name="dairyfree" type="xs:boolean" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instruction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageTyp" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="ingredientList" nillable="true" type="q2:ArrayOfIngredients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipe_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findRecipesByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipe_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findRecipesByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllRecipesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecipesAdvanced">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vegetarian" type="xs:boolean" />
        <xs:element minOccurs="0" name="vegan" type="xs:boolean" />
        <xs:element minOccurs="0" name="cheap" type="xs:boolean" />
        <xs:element minOccurs="0" name="glutenfree" type="xs:boolean" />
        <xs:element minOccurs="0" name="dairyfree" type="xs:boolean" />
        <xs:element minOccurs="0" name="maxminues" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecipesAdvancedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRecipesAdvancedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApiInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getApiInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApiInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>